<div class="title-container">
  <h1>Contacts</h1>
</div>
<div class='link-to-new'>
  <%= link_to 'New Contact', new_contact_path, class: "btn btn-primary" %>
</div>
<div class="container" id="contacts">
  <table>
    <% @contacts.each do |contact| %>
      <div class="row contact" id="contacts">
        <div class="col-8">
          <span><%= contact.salutation %></span>
          <span><%= contact.first_name %></span>
          <% if contact.middle_name.present? %>
            <span><%= contact.middle_name %></span>
          <% end %>
          <span><%= contact.last_name %></span>
        </div>
        <div class="col-4">
          <span class="contact-link">
            <%= link_to 'View', contact_path(contact), class: "contact-btn btn btn-outline-primary" %> |
            <%= link_to 'Edit', edit_contact_path(contact), class: "contact-btn btn btn-outline-primary" %> |
            <%= link_to 'Delete', contact_path(contact),
                  method: :delete,
                  data: { confirm: 'Are you sure?', remote: true }, class: "delete contact-btn btn btn-outline-primary" %>
          </span>
        </div>
      </div>
    <% end %>
    <%= paginate @contacts, window: 2 %>
  </table>
</div>


