<p>
  <h1>Contact:</h1>
  <p>
  <%= @contact.salutation %>
  <%= @contact.first_name %>
  <%= @contact.middle_name %>
  <%= @contact.last_name %>
  </p>
  <p>
  <strong>SSN:</strong>
  <%= @contact.ssn %><br>
  <strong>Date of Birth:</strong>
  <%= @contact.dob %><br>
  <strong>Comment:</strong>
  <%= @contact.comment %>
  </p>
</p>

<%=link_to 'Addresses', contact_addresses_path(@contact) %>
<br>
<%=link_to 'Phone Numbers', contact_phone_numbers_path(@contact) %>
<br>
<%=link_to 'Emails', contact_emails_path(@contact) %>

<hr>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>