<p>
  <strong>Contact:</strong>
  <p>
  <%= @contact.salutation %>
  <%= @contact.first_name %>
  <%= @contact.middle_name %>
  <%= @contact.last_name %>
  </p>
  <p>
  <strong>SSN:</strong>
  <%= @contact.ssn %><br>
  <strong>Date of Birth:</strong>
  <%= @contact.dob %><br>
  <strong>Comment:</strong>
  <%= @contact.comment %>
  </p>
</p>
<% if @contact.addresses.any? %>
<h2>Addresses</h2>
  <% @contact.addresses.each do |address| %>
  <table>
    <tr>
      <td><%= address.street %></td>
      <td><%= address.town %></td>
      <td><%= address.zip %></td>
      <td><%= address.state %></td>
      <td><%= address.country %></td>
      <td><%= link_to 'Edit Address', edit_contact_address_path(address.contact, address) %></td>
      <td><%= link_to 'Destroy Address', [address.contact, address],
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </table>
  <% end %>
<% end %>

<h2>Add an address:</h2>
<%= render partial: 'addresses/form', locals: {contact: @contact, address: @address} %>
<hr> 

<% if @contact.phone_numbers.any? %>
<h2>Phone Numbers</h2>
  <% @contact.phone_numbers.each do |phone_number| %>
  <table>
    <tr>
        <td><%= phone_number.kind %></td>
        <td><%= phone_number.number %></td>
        <td><%= phone_number.comment %></td>
        <td><%= link_to 'Edit Phone Number', edit_contact_phone_number_path(phone_number.contact, phone_number) %></td>
        <td><%= link_to 'Destroy Phone Number', [phone_number.contact, phone_number],
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </table>
  <% end %>
<% end %>

<h2>Add a phone number:</h2>
<%= render partial: 'phone_numbers/form', locals: {contact: @contact, phone_number: @phone_number} %>
<hr>

<% if @contact.emails.any? %>
<h2>Email Addresses</h2>
  <% @contact.emails.each do |email| %>
  <table>
    <tr>
      <td><%= email.email_address %></td>
      <td><%= email.comment %></td>
      <td><%= link_to 'Edit Email', edit_contact_email_path(email.contact, email) %></td>
      <td><%= link_to 'Destroy Email', [email.contact, email],
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </table>
  <% end %>
<% end %>

<h2>Add an email:</h2>
<%= render partial: 'emails/form', locals: {contact: @contact, email: @email} %>
<hr>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>