<div class="title-container">
  <h1>Phone Numbers:</h1>
</div>

<div class="phone-numbers">
  <% if @contact.phone_numbers.any? %>
    <% @contact.phone_numbers.each do |phone_number| %>
    <div class="phone-number">
      <p><%= phone_number.kind %></p>
      <p><%= phone_number.number %></p>
      <p><%= phone_number.comment %></p>
      <p><%= link_to 'Edit', edit_contact_phone_number_path(phone_number.contact, phone_number) %> |
      <%= link_to 'Destroy', [phone_number.contact, phone_number],
              method: :delete,
              data: { confirm: 'Are you sure?' } %></p>
      <hr>
    </div>
    <% end %>
  <% end %>
</div>


<div class="phone-number-add">
  <h2>Add a phone number:</h2>
  <%= render partial: 'form', locals: {contact: @contact, phone_number: @phone_number} %>
</div>

<%= link_to 'Back to Contact', contact_path(@contact) %>