
  <p>
    <strong>ID</strong>
    <%= address.id %>
  </p>
  <p>
    <strong>Street</strong>
    <%= address.street %>
  </p>
  <p>
    <strong>Town</strong>
    <%= address.town %>
  </p>
  <p>
    <strong>ZIP</strong>
    <%= address.zip %>
  </p>
  <p>
    <strong>State</strong>
    <%= address.state %>
  </p>
  <p>
    <strong>Country</strong>
    <%= address.country %>
  </p>
  <p>

  <%= link_to 'Edit Address', edit_contact_address_path(address.contact, address) %> |
  <%= link_to 'Destroy Address', [address.contact, address],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
   </p>