<%= form_with model: [ contact, address ] do |form| %>

  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@address.errors.count, "error") %> prevented this address from being saved:
      </h2>
      <ul>
        <% @address.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :street %>*<br>
    <%= form.text_field :street, class: "form-control" %>
  </p>

  <p>
    <%= form.label :town %>*<br>
    <%= form.text_field :town, class: "form-control" %>
  </p>

  <p>
    <%= form.label :zip %>*<br>
    <%= form.text_field :zip, class: "form-control" %>
  </p>

  <p>
    <%= form.label :state %><br>
    <%= form.text_field :state, class: "form-control" %>
  </p>

  <p>
    <%= form.label :country %>*<br>
    <%= form.country_select :country, {priority_countries: ["US", "CZ"]}, class: "form-control"  %>
  </p>

  <p>* = required field</p>

  <p>
    <%= form.submit class: "submit btn btn-primary" %>
  </p>
<% end %>