<h1>Addresses:</h1>
<% if @contact.addresses.any? %>
  <% @contact.addresses.each do |address| %>
  <table>
    <tr>
      <td><%= address.street %></td>
      <td><%= address.town %></td>
      <td><%= address.state %></td>
      <td><%= address.zip %></td>
      <td><%= address.country %></td>
      <br>
      <td><%= link_to 'Edit', edit_contact_address_path(address.contact, address) %></td>|
      <td><%= link_to 'Destroy', [address.contact, address],
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </table>
  <% end %>
<% end %>
<hr> 
<h2>Add an address:</h2>
<%= render partial: 'form', locals: {contact: @contact, address: @address} %>
<%= link_to 'Back to Contact', contact_path(@contact) %>
