<%= form_with model: [ contact, email ], remote: true do |form| %>
  
  <% if @email.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@email.errors.count, "error") %> prevented this email from being saved:
      </h2>
      <ul>
        <% @email.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group row">
    <%= form.label :email_address, class: "col-sm-2 col-form-label col-form-label-sm"  %>
    <div class="col-sm-10">
      <%= form.text_field :email_address, class: "form-control form-control-sm" %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :comment, class: "col-sm-2 col-form-label col-form-label-sm"  %>
    <div class="col-sm-10">
      <%= form.text_area :comment, class: "form-control form-control-sm" %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.submit class: "submit btn btn-primary" %>
  </div>

<% end %>