<div class="container">
  <div class="title-container">
  <h1>Email Addresses:</h1>
  </div>

  <div class="emails">
  <% if @contact.emails.any? %>
    <% @contact.emails.each do |email| %>
    <div class="email">
      <p><%= email.email_address %></p>
      <p><%= email.comment %></p>
      <p><%= link_to 'Edit', edit_contact_email_path(email.contact, email) %> | <%= link_to 'Delete', [email.contact, email],
              method: :delete,
              data: { confirm: 'Are you sure?' } %></p>
    </div>
    <% end %>
  <% end %>
  </div>

  <hr>

  <div class="email-add">
  <h2>Add an email:</h2>
  <%= render partial: 'form', locals: {contact: @contact, email: @email} %>
  </div>

  <%= link_to 'Back to Contact', contact_path(@contact), class:"footer-links" %>
</div>