<!DOCTYPE html>
<html>
  <head>
    <title>AddressBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
  <nav class="navbar navbar-dark fixed-top row mx-auto">
    <% if current_user %>
      <ul class="navbar-nav mr-auto col-sm-10">
        <li class="nav-item">
          <%= link_to 'All Contacts', contacts_path %>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto float-right col-sm-2">
        <li class="nav-item">
          <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
        </li>
      </ul>
    <% end %>
  </nav>
  
    <div class="container mt-5">
    <% if notice %>
        <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert"><%= alert %></p>
    <% end %>
      <div class="container-fluid my-3">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
